@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Montserrat:wght@300;500;600;700;900&display=swap');

body, header, footer {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}

body {
    background-image: url(./images/69.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 1024px;
    font-family: Dancing Script;
    color: #424242;
}

/* HEADER */
header {
    height: 60px;
    background-color: #fafafa;
    opacity: 1;
    position: fixed;
    z-index: 999;
    margin-top: 0;
}

#logo {
    width: 200px;
    height: 55px;
    float: left;
    margin: 5px;
    background-image: url(./images/logo2.png);
    background-repeat: no-repeat;
    background-size: 65%;
}

#logo img {
    object-fit: fill;
}

/* Botonera */
#botonera {
    width: 500;
    height: 50px;
    margin: 5px 5px 5px 5px;
    float: right;
    font-weight: 500;
}

.button1 {
    background-color: #fac017; /* amarillo background*/
    border: 3px solid #fafafa;
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 110px;
    height: 45px;
    margin: 2px 2px;
    padding: 7px 4px;
    border-radius: 10%;
    box-sizing: border-box;
    display: inline-block;
}

.button1:hover {
    background-color: #fafafa;
    color: #fac017;
    font-weight: bold;
    border: 3px solid #fac017;
    box-shadow: 5px 10px 7px rgba(0,0,0,0.3);
}

/* Cambios de estilo predeterminados */
a {
    text-decoration: none;
    font-style: none;
    color: #fafafa; 
    font-weight: bold;
}

#botonera ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

li {
    display: inline-block;
}

.espacio {
    background-color: #fafafa;
    opacity: 0;
    height: 60px;
}

/* Sección 1 ~ Hola*/
#hola {
    height: 420px;
    background-color: #fafafa;
    opacity: 0.95;
}

#texto {
    width: 555px;
    height: 390px;
    float: left;
    margin: 0px 0px 5px 5px;
    padding: 10px;
    box-sizing: border-box;
}

#imgfoto {
    width: 390px;
    height: 390px;
    float: right;
    margin: 0px 5px 0px 5px;
    object-fit: cover;
    height: 100%;
}


/* Sección 2 ~ BOOKS */
.books {
    height: 800px;
    background-color: #fafafa;
    opacity: 0.968;
}

.container {
    position: relative;
    width: 220px;
    height: 330px;
    float: left;
    align-self: center;
    background-color: #fac017;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.container img {
    object-fit: cover;
    height: 100%;
}

.book-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 0%;
    left: 0%;
}

.text {
    font-size: smaller;
    text-shadow: 2px 2px 5px #fafafa;
    padding: 2px 4px;
}

.container:hover .book-image {
    opacity: 0.15;
}

.container:hover .middle {
    opacity: 1;
}

/* Sección 3 */
#viajes-carrusel {
    height: 480px;
    background-color: #fafafa;
    opacity: 0.967;
}

.lugares {
    width: 230px;
    height: 330px;
    float: left;
    align-self: center;
    margin: 10px 5px 10px 5px;
}

.img-lugar {
    position: relative;
    width: 220px;
    height: 330px;
    float: left;
    align-self: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.img-lugar img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.txt-lugar {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 10px 5px 10px 5px;
}

.map-lugar {
    display: none;
}

/* Sección 4 */
#redes {
    height: 95px;
    background-color: #fafafa;
    opacity: 0.967;
    padding: 10px;
}

.img-redes {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
 
.img-redes img {
    width: 60px;
    margin: 10px;

}                                   


/* Sección 5 */
#footer {
    height: 80px;
    background-color: #424242;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
}

#footer div {
    width: 960px;
    height: 20px;
    align-self: center;
    color: #fafafa;
    margin: 0;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}

.gracias {
    font-weight: bold;
    color: #fac017;
}

#footer a {
    color: #fac017;
} 

/* Sección 0 ~ Welcome*/
h1 {
    margin: 0px;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 5px #fafafa;
    text-shadow: 3px 3px 6px #fac017;
}

h2 {
    color: #fac017;
    font-weight: 900;
    font-size: 45px;
    text-align: center;
    margin: 0px;
    padding: 10px;
    /*text-shadow: 2px 2px 5px #fafafa;*/
    text-shadow: 3px 3px 6px #fac017;
}

p {
    margin: 0px;
    padding: 10px;
    font-size: 21px;
    font-weight: normal;
    text-align: justify;
}

p span {
    font-weight: bold;
    color: #ebb400; 
    text-shadow: 3px 3px 7px #fac017;
}

/* -------------------------------
        MEDIA 600 - 1023
--------------------------------*/

@media all and (min-width: 600px) and (max-width: 1023px) {

    body, header, footer {
        width: 590px;
    }
    
    body {
        background-size: 700px;
    }
    
    /* HEADER */
    header {
        height: auto;
    }

    #logo {
        width: 150px;
        margin: 5px;
        box-sizing: border-box;
    }
    
    /* Botonera */
    #botonera {
        width: 410px;
        margin: 3px 3px 3px 3px;
        box-sizing: border-box;
    }
 
    .button1 {
        width: 95px;
        height: 45px;
    }
   
    /* Cambios de estilo predeterminados */
    .espacio {
        height: 60px;
    }
    
    /* Sección 1 ~ Hola*/
    #hola {
        width: 100%;
        height: 405px;
    }
    
    #texto {
        background-image: url(./images/bookLoverTransp.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        text-shadow: 2px 2px 5px #fafafa;
        text-shadow: 3px 3px 6px #fac017;
        width: 580px;
    }
    
    #imgfoto {
        display: none
    }

    
    /* Sección 2 ~ BOOKS */
    .books {
        height: 1500px;
        padding-left: 50px;
        padding-right: 50px;
    }
    
       
    /* Sección 3 */
    #viajes-carrusel {
        height: 880px;
    }
    
    .viajes {
        padding-left: 55px;
        padding-right: 55px;
    }

    .lugares {
        padding-bottom: 50px;
    }
    
    
    /* Sección 5 */
    #footer {
        height: auto;
    }

    #footer div {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    p span {
        color: #dca800;
    }

} /* fin MEDIA 600-1023 */

/* -------------------------------
           MEDIA 599
--------------------------------*/

@media all and (max-width: 599px) {

    body, header, footer {
        width: 90%;
    }
    
    body {
        background-size: 590px;
    }
    
    /* HEADER */
    header {
        height: auto;
    }
    
    #logo {
        width: 100px;
        margin: 0px;
        background-size: 95%;
    }

    #logo img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: center;
    }
       
    /* Botonera */
    #botonera {
        width: 260px;
        margin: 0px;
        padding-top: 6px;
        box-sizing: border-box;
    }
    
    .button1 {
        width: 60px;
        height: 35px;
        padding-top: 6px;
        margin: 0px;
        font-size: 14px;
        object-position: right;
    }

    .espacio {
    height: 40px;
    }

    /* Sección 1 ~ Hola */
    #hola {
        width: 100%;
        height: 330px;
    }
    
    #texto {
        background-image: url(./images/bookLoverTransp.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        text-shadow: 2px 2px 5px #fafafa;
        text-shadow: 3px 3px 6px #fac017;
        width: auto;
        height: auto;
    }
    
    #imgfoto {
        display: none
    }

    p {
        font-size: 14px;
    }

    #texto span {
        color: #dca800;
        text-shadow: 3px 3px 7px #fafafa;
    } 

    
    /* Sección 2 ~ BOOKS */
    .books {
        height: 1110px;
        align-content: center;
    }
    
    .container {
        width: 158.4px;
        height: 231.55px;
    }
    
      
    /* Sección 3 */
    #viajes-carrusel {
        height: 670px;
    }

    .lugares {
        width: 162px;
        height: 281.55px;
        margin-left: 10px;
    }
    
    .img-lugar {
        width: 162px;
        height: 231.55px;
        align-content: center;
    }
    
    .img-lugar img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .txt-lugar {
        width: 162px;
        height: auto;
        margin: 0px;
        padding: 10px 0px 5px 0px;
        box-sizing: border-box;
    }
    
    .map-lugar {
        display: none;
    }

    /* Sección 4 - empty */
   
    
    /* Sección 5 */
    #footer {
        height: auto;
    }

    #footer div {
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        margin-top: 5px;
        box-sizing: border-box;
    }

    
} /* fin MEDIA hasta 599 */

/* Lucila Di Lorenzo */